# Defines plugins to load

## Use this for Windows
# Define plugin folder
PluginFolder=C:\PythonOgre\plugins
Plugin=RenderSystem_GL.dll
Plugin=RenderSystem_Direct3D9.dll
Plugin=Plugin_ParticleFX.dll
Plugin=Plugin_BSPSceneManager.dll
Plugin=Plugin_OctreeSceneManager.dll
Plugin=Plugin_CgProgramManager.dll

##
## NOTE use this for MacOS or Linux
# Plugin=RenderSystem_GL
# Plugin=Plugin_ParticleFX
# Plugin=Plugin_BSPSceneManager
# Plugin=Plugin_OctreeSceneManager
# Plugin=Plugin_CgProgramManager
